Flask==1.1.2
geocoder==1.38.1
joblib == 0.17.0
json5==0.9.5
Keras==2.4.3
matplotlib==3.3.2
nltk==3.5
ntlm-auth==1.5.0
numpy==1.18.5
sklearn==0.0
tensorflow==2.3.0
tokenizers==0.9.4
tweepy==3.5.0
